@charset "UTF-8";

:root{
    --cor1: #FAFFFD;
    --cor2: #A2D729;
    --corFundo: #f49f0a;
    --corDetalhes: #3c91e6;
    --corLetra: #342e37;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace
}

body{
    background-color:var(--cor1)

}

header{
    height: auto;
    margin: auto;
    background-image: linear-gradient(to right,var(--corFundo),var(--cor1), var(--corFundo));
}

header > h1{
    text-align: center;
    font-size: 4em;
    padding: 30px;
    color: var(--corLetra);
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.52);
}

nav a{
    text-decoration: none;
    color: var(--cor6);
    font-size: 1.5em;
    font-weight: bold;
}
nav > a:hover{
    padding: 5px;
    transition-duration: 0.5s;
}

.menu{
    background-color: var(--corDetalhes);
    display: block;
    padding: 5px;
}

.menu ul{
    color: var(--cor1);
    display: inline-block;

}

.menu ul li {
    display: inline;
    position: relative;
}
.menu ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    transition-duration: .5s;
    border-radius: 5px 0px;
    background-color: var(--corDetalhes);

}
.menu ul li a:hover {
    background-color: var(--cor2);
    color: var(--cor4);
    padding: 5px;
}
    /*SUB MENU*/
.menu ul ul {
    display: none;
    left: 0;
    position: absolute;

}
.menu ul li:hover ul {
    display: block;
    text-align: center;
    width: auto;
    border: 2px solid var(--cor2);

}
.menu ul ul {
    border-radius: 5px 0px;
    padding: 2px;
}
.menu ul ul li a {
    display: block;
}



main{
    max-width: 800px;
    margin: auto;
    height: auto;
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
    box-shadow: 5px 5px 15px #342e37;
}

main > h1{
    padding-left: 50px;
    padding-top: 20px;
}

.boxMain{
    padding-top: 5px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.boxItem{
    display: flex;
    flex-direction: row;
    border: 2px solid var(--corDetalhes);
    background-color: var(--cor2);
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    /*Imagem temporária*/
    background-image: url(tibiaCoins.jpg);
    
}

