@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@100;400;800&display=swap');


:root{
    --cor1: #FAFFFD;
    --cor2: #A2D729;
    --corFundo: #f49f0a;
    --corDetalhes: #3c91e6;
    --corLetra: #342e37;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:var(--cor1);
    position: relative;

}

.header{
    display: inline-block;
    position: fixed;
    width: 100vw;
}

header{
    height: auto;
    margin: auto;
    background-image: linear-gradient(to right,var(--corFundo),var(--cor1), var(--corFundo));
}

header > h1{
    text-align: center;
    font-size: 4em;
    padding: 30px;
    color: var(--corLetra);
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.52);
}


nav a{
    text-decoration: none;
    color: var(--cor6);
    font-size: 1.5em;
    font-weight: bold;
}
nav > a:hover{
    padding: 5px;
    transition-duration: 0.5s;
}

.menu{
    background-color: var(--corDetalhes);
    display: flex;
    padding: 0px 5px 0px 5px;
    justify-content: center;
}

.menu ul{
    color: var(--cor1);
    display: inline-block;

}

.menu ul li {
    display: inline;
    position: relative;
    
}
.menu ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 0px 5px 0px 5px;
    transition-duration: .5s;
    border-radius: 5px 0px;
    background-color: var(--corDetalhes);
    

}
.menu ul li a:hover {
    background-color: var(--cor2);
    color: var(--cor4);
    padding: 5px;
}
    /*SUB MENU*/
.menu ul ul {
    display: none;
    left: 0;
    position: absolute;

}
.menu ul li:hover ul {
    display: block;
    text-align: center;
    width: auto;
    border: 2px solid var(--cor2);

}
.menu ul ul {
    border-radius: 5px 0px;
    padding: 2px;
}
.menu ul ul li a {
    display: block;
}

.main_container{
    display: flex;
}

main{
    display:block;
    position: absolute;
    left: 10vw;
    top: 22vh;
    max-width: 800px;
    margin: auto;
    height: auto;
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
    box-shadow: 5px 5px 15px #342e37;
    z-index: -1;
    padding-bottom: 50px;
}

main > h1{
    padding-left: 50px;
    padding-top: 20px;
}

.boxMain{
    padding-top: 5px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.boxItem{
    display: flex;
    flex-direction: row;
    border: 2px solid var(--corDetalhes);
    background-color: var(--cor2);
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    /*Imagem temporária*/
    background-image: url(tibiaCoins.jpg);
    
}
aside.slider{
    position: relative;
}

.slider_container{
    max-width: 800px;
    display: none;
    position: absolute;
    background-color: #342e37;
    height: 640px;
    width: 640px;
    top: 22vh;
    left: 17vw;

}

.img_slider1{
    display: none;
}
.img_slider2{
    display: none;
}
.img_slider3{
    display: none;
}
.img_slider4{
    display: none;
}
.img_slider5{
    display: none;
}
.img_slider6{
    display: none;
}



aside.discription{
    display: block;
    position: fixed;
    background-color: white;
    height: 80vh;
    width: 400px;
    right: 0;
    top: 18vh;
    box-shadow: 5px 5px 15px #342e37;
    z-index: -1;
    border-radius: 5px;
}
aside div div{
    padding: 10px;

}
aside h1{
    padding-top: 50px;
    padding-left: 15px;

}
aside p{
    padding-left: 15px;
    padding-right: 15px;
    border: 1px dashed black;

}
@media screen and (max-width: 1360px) {

    aside.discription{
        display: none;
    }
}


@media screen and (max-width: 550px) {

    .boxItem{
        width: 100px;
        height: 100px;
    }
    header > h1{
        font-size: 2.5em;
    }
    .menu{
        font-size: 10px;
        
    }

    main{
        left: 10vw;
        top: 15vh;
        max-width: 600px;
    }
    
}

@media screen and (max-width: 370px) {

    main{
        left: 10vw;
        top: 13vh;
    
    }

    header > h1{
        font-size: 1.5em;
    }

    .menu{
        font-size: 8.5px;
        
    }

    main{
        left: 10vw;
        top: 12vh;
        max-width: 400px;
    }

}